@charset "utf-8";

html,body{
    background: #f9f9f9;
}
#box{
    width: 855px;
    height: 580px;
    margin: 50px auto;
    background: #fff;
    >p{
        font-size: 12px;
        line-height: 12px;
        color: #9d9d9d;
        text-align: center;
        margin-top: 45px;
        a{
            font-size: 12px;
            color: #000;
        }
    }
    h1{
        width: 49px;
        height: 48px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    h2{
        text-align: center;
        font-size: 28px;
        color: #000;
        line-height: 28px;
        margin: 45px 0 40px 0;
    }
}
#f{
    margin: 0 auto;
    background: #fff;
    width: max-content;
    height: max-content;
    h4{
        font-size: 14px;
        line-height: 14px;
    }
    p{
        font-size: 12px;
        line-height: 12px;
        color: #666666;
    }
    h5{
        font-size: 14px;
        line-height: 14px;
    }
}
#username,#userpass,#userpass2{
    border: 1px solid #e8e8e8;
    width: 331px;
    height: 38px;
    margin: 6px 0;
}
#regBtn{
    width: 331px;
    height: 42px;
    text-align: center;
    background: #ff6700;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    &:hover{
        background: #ff6600a6;
    }
}
label{
    margin: 0 auto;
}

#foot{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    text-align: center;
    p:nth-child(1){
        margin-bottom: 8px;
        a{
            font-size: 12px;
            color: #757575;
            padding: 0 14px;
            border-left: 1px solid #757575;
            &.active{
                color: #000;
            }
        }
    }
    p:nth-child(2){
        font-size: 12px;
        color: #9d9d9d;
        line-height: 12px;
        a{
            img{
                width: 18px;
                height: 20px;
                display: inline-block;
            }
        }
    }
}